

body{
   background-color: #f7f7f7;
}

@media screen and (min-width: 400px) {
  body {
    background-color: #f7f7f7;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: #f7f7f7;
  }
}


@media screen and (max-width: 992px) {
  .iframe {
    width: 50%;
  }
}



@media screen and (max-width: 600px) {
  .iframe {
    width: 100%;
  }
}